<div class="row">
	<div class="col-md-7">
		<div class="page-header">
			<h2>Listing all clients</h2>	
		</div>
				
		<%= link_to "Export to Excel" , clients_path(format: "xls"), class: "btn btn-info pull-right" %>						

		<% if @clients.empty? %>
			<p> No records found </p>
		<% else %>
			<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Company</th>
					<th>Mobile</th>
					<th>Email</th>
					<th>Total Projects</th>
					<th>Actions</th>

				</tr>
			</thead>

			<tbody>
				<% @clients.each_with_index do |client, index| %>
				<tr>
					<td><%= index + 1 %></td>
					<td><%= link_to client.name.capitalize , client_path(client.id)  %></td>
					<td><%= client.company.capitalize %></td>
					<td><%= client.mobile %></td>			
					<td><%= client.email %></td>
					<td><%= client.projects.size %></td>
					<td>
						<%= link_to client_path(client.id) do %>
							<span class="glyphicon glyphicon-eye-open"></span>
						<% end %>
						
					</td>

				</tr>
				<% end %>						
			</tbody>
		</table>
		<% end %>

		<%= link_to "Add Client" , new_client_path, class: "btn btn-primary" %>
	</div>
	<div class="col-md-5">
		<div class="page-header">
			<h2>Some stats</h2>
			<div>
				<% data = {} 
				current_user.clients.each do |client|
					data[client.name] = client.projects.count
				end %>

				<%= pie_chart(data) %>
			</div>			
		</div>
	</div>
	
</div>
