<h1>Client details</h1>

<%= link_to "Edit", edit_client_path(@client.id) %> |
<%= link_to "Destroy", client_path(@client.id), data:
	{method: :delete, confirm: "Are you sure?"} %>

<h3>Name: <%= @client.name %></h3>
<h4>Mobile: <%= @client.mobile %></h4>
<h4>Company: <%= @client.company %></h4>
<h4>Email: <%= @client.email %></h4>

<% if @client.projects.empty? %>
	No projects found
<% else %>
<h3> Total Projects: <%= @client.projects.size %></h3>
<ul class="list-group">
	<% @client.projects.each do |project| %>
	<li class="list-group-item"><%= link_to "#{project.name}"  %></li>
	<% end %>	
</ul>
<% end %>	

<% timeline_array = [] %>

<% @projects.each do |project| %>
	<% timeline_array.push([project.name, project.start_date, project.end_date]) %>
<% end %>

<%= timeline timeline_array %>

<% all_tasks = Task.joins(:project).where("projects.client_id = ?", @client.id) %>

<!-- Task.where(project_id: @client.project_ids.size)-->

<h3 class="page-header">All tasks, <%= all_tasks.size %> tasks</h3>

<ul class="list-group">
	<% all_tasks.each do |task| %>
		<li class="list-group-item"><%= task.title %></li>
	<% end %>
</ul>

