<div class="row">
	<div class="col-md-8">

		<script type="text/javascript">
			$(document).ready(function(){
			    $('#projectsTable').DataTable();
			});
		</script>

		<div class="page-header">
			<h2>Listing all projects</h2>	 
		</div>

		<b> Filter by: 
			<%= link_to "New", projects_path(status: "New") %> |
			<%= link_to "On-going", projects_path(status: "On-going") %> |
			<%= link_to "Completed", projects_path(status: "Completed") %> |
			<%= link_to "All", projects_path %> 
		</b><br>

		<b> Filter by: 
			<% current_user.clients.each do |client| %>
				
				<%= link_to "#{client.name}", projects_path(id: "#{client.id}") %> |
			<% end %>
		</b>

		<% if @projects.empty? %>
			<p> No projects found </p>
		<% else %>
			<div class="table-responsive" style="margin-top: 20px">
				<table class="table table-striped" id="projectsTable">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Description</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Estimated Budget</th>
							<th>Client Name</th>
							<th>Status</th>
							<th>Tasks</th>
						</tr>
					</thead>

					<tbody>
						<% @projects.each_with_index do |project, index| %>
						<tr>
							<td><%= index + 1 %></td>
							<td><%= project.name %></td>
							<td><%= project.description %></td>
							<td><%= project.start_date %></td>			
							<td><%= project.end_date %></td>
							<td><%= project.estimated_budget %></td>

							<% if project.client.nil? %>
								<td>N/A</td>
							<% else %>
								<td><%= link_to "#{project.client.name}", 
									client_path(project.client_id) %></td>
							<% end %>
							
							<td><%= project.status %></td>
							<td><%= link_to project_path(project.id) do %>
								<span class="glyphicon glyphicon-eye-open"></span>
								<% end %>						
							</td>
						</tr>
						<% end %>						
					</tbody>
				</table>
			</div>
			
		<% end %>

		<%= link_to "Add Project" , new_project_path, class: "btn btn-primary", style: "margin-top: 20px"%>

	</div>

	<div class="col-md-4">
		<div class="page-header">
			<h2>Some stats</h2>

			<div>
				<% data = {} 
					data["New"] = @projects.where('status = ?', "New").count
					data["On-going"] = @projects.where('status = ?', "On-going").count
					data["Completed"] = @projects.where('status = ?', "Completed").count
				%>

				<% data2 = {} 
					statuses = @projects.pluck(:status).uniq
					statuses.each do |status|
						data[status] = @projects.where("status = ?", status).size
					end
				%>
					
				<%= pie_chart(data) %>
					
				<%= pie_chart(data2) %>
			</div>		
		</div>
	</div>
	
</div>
