<h3>Add Project</h3>

<%= form_for @project do |f| %>
<% if @project.errors.any? %>
<h4>These errors prohibited the form from being saved: </h4>
<ul style="color:red">
	<% @project.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
</ul>
<% end %>

<label>Clients</label><br>
<%= f.collection_select :client_id, current_user.clients, :id, :name, prompt: "Select Client "%><br>

<label>Name</label><br>
<%= f.text_field :name %><br>

<label>Description</label><br>
<%= f.text_area :description %><br>

<label>Start Date</label><br>
<%= f.date_select :start_date, order: [:day, :month, :year] %><br>

<label>End Date</label><br>
<%= f.date_select :end_date, order: [:day, :month, :year] %><br>

<label>Status</label><br>
<%= f.select :status, ["New", "On-going", "Completed"], prompt: "Select Status " %><br>

<label>Estimated Budget</label><br>
<%= f.text_field :estimated_budget %><br>

<%= f.submit %>

<% end %>
