<h1>Total Clients <%= @clients.size %></h1>

<table border="5">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Company</th>
			<th>Mobile</th>
			<th>Email</th>
			
		</tr>
	</thead>

	<tbody>
		<% @clients.each_with_index do |client, index| %>
		<tr>
			<td><%= index + 1 %></td>
			<td><%= client.name.capitalize %></td>
			<td><%= client.company.capitalize %></td>
			<td><%= client.mobile %></td>
			
			<td><%= client.email %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<hr>


