<h1>Listing Projects</h1>
<h3>Total Projects: <%= @projects.size%></h3>

<table border="1">
	<thead>
		<tr>
			<th>Name</th>
			<th>Clients</th>
			<th>Start Date</th>
			<th>End Date</th>
		</tr>
	</thead>

	<% @projects.each do |project| %>
		<tr>
			<td><%= project.name %></td>
			<td><%= Client.find(project.client_id).name %></td>
			<td><%= project.start_date.strftime("%A, %d, %B, %Y") %></td>
			<td><%= project.end_date.strftime("%A, %d, %B, %Y") %></td>
			<!-- %A - Full Day, %d - Date, %B - Full Month, %Y -Full Year -->
		</tr>
	<% end %>
	
</table>
